$black: #111111;
$white: #ffffff;
$main: #141414;
$main-light: rgba(20, 20, 20, 0.5);
$grey: #707070;
$light-grey: #DFDFDF;
$top-color: #21B7E6;
$top-color-light: rgba(33, 183, 230, 0.2);

$tablet-width: 768px;
$desktop-width: 1200px;
